@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600&display=swap");
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  background-image: url("/images/tittle.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100px;
  margin: auto;
  margin-top: 30px;
}

.App-header h1 {
  text-shadow: 2px 2px 4px white;
  font-size: 60px;
}

i {
  color: #704f08;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
}

.App-footer {
  text-align: center;
  padding: 1.5rem 1rem;
  background-color: #6a6356c1;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  border-radius: 6px;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  color: #171515;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #fff;
}

.footer-text a {
  color: #add8e6;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}
