@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600&display=swap");
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header h1 {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  margin-top: 3rem;
  color: #000000;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.6);
}

.search-section h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  margin-top: 2rem;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.App-header {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100px;
  margin: auto;
  margin-top: 30px;
}

.App-header h1 {
  text-shadow: 2px 2px 4px white;
  font-size: 55px;
}

i {
  color: #704f08;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
}

.App-footer {
  text-align: center;
  padding: 1.5rem 1rem;
  background-color: black;
  border-top: 1px solid rgba(15, 14, 14, 0.808);
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  border-radius: 6px;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  color: #171515;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #fff;
}

.footer-text a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.footer-text a:hover {
  text-decoration: underline;
}
